.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg {
  display: block;
  width: 12em;
  height: 12em;
  shape-rendering: auto;
}

.gear {
  fill: #6b3e006b;
}

.watermark {
  opacity: 1;
}
